<!DOCTYPE html>
<html>
<title>Relations | Groupie Tracker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/main.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">

<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main">

        <!-- Header -->
        <header id="portfolio">
            <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
                    class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
            <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                    class="fa fa-bars"></i></span>
            <div class="w3-container">
                <div class="topnav">
                    <a class="active" href="/">Home</a>
                    <a href="/relation">Relations</a>
                    <div class="topnav-right">
                        <a href="/artists" target="_blank">All Artists</a>
                        <a href="/relations" target="_blank">All Relations</a>
                    </div>
                </div>

                <div style="display: block ruby; margin-top: 32px;">
                    <h1><b>All Relations</b></h1>
                </div>

                <hr class="w3-opacity">
                <form action="/action_page.php" target="_blank">
                    <div class="w3-section">
                        <label>Search:</label>
                        <input class="w3-input w3-border" type="text" name="Name" required>
                    </div>
                    <button type="submit" class="w3-button w3-black w3-margin-bottom">
                        <i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
                </form>

                <div class="w3-section w3-bottombar w3-padding-16">
                    <span class="w3-margin-right">Filter:</span>
                    <button class="w3-button w3-black">ALL</button>
                    <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
                    <button class="w3-button w3-white w3-hide-small"><i
                            class="fa fa-photo w3-margin-right"></i>Photos</button>
                    <button class="w3-button w3-white w3-hide-small"><i
                            class="fa fa-map-pin w3-margin-right"></i>Art</button>
                </div>
            </div>
        </header>



        <div id="loader" class="loader"></div>
        <div id="mainContainer">
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Location</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Location</th>
                        <th>Date</th>
                    </tr>
                </tfoot>
            </table>
        </div>


        <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h4><b>About Me</b></h4>
            <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of
                lorem
                ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut
                rutrum.
                Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent
                tincidunt
                sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
                fringilla.</p>
            <hr>


        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-32 w3-dark-grey">
            <div class="w3-row-padding">
                <div class="w3-center">
                    <h3>Alem - 2020</h3>
                    <p>"Groupie Tracker" as part of project for Alem</p>
                    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
                </div>
            </div>
        </footer>

        <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp"
                title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

        <!-- End page content -->
    </div>

    <script src="/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
        showLoader()
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "ajax": {
                    "type": "GET",
                    "url": "/relations",
                    "dataSrc": function (json) {
                        hideLoader()
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "id" },
                    { "data": "location" },
                    { "data": "date" },
                ]
            });
        });
    </script>


</body>

</html>